* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}
.containe {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  padding: 0.8rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
  background-color: rgb(226, 57, 57);
  display: flex;
  border-radius: 0 0 1rem 1rem;
}
.header img {
  width: 80px;
  height: 80px;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.header h1 {
  color: white;
  font-size: 4rem;
  margin: 1rem 0;
  margin-bottom: 0.5rem;
}

.helpText {
  font-size: 1.4rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.697);
  margin-bottom: 0.5rem;
}
.note {
  font-size: 1.3rem;
  color: rgb(212, 52, 52);
  line-height: 1.6rem;
  background-color: rgba(0, 0, 255, 0.097);
  padding: 0.3rem 2rem;
  border-radius: 3px;
}
.note span {
  font-weight: 550;
}

/* dataFields */
.dataFields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dataFields div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.dataFields div label {
  font-size: 1.4rem;
  font-weight: 600;
}

.dataFields div input {
  padding: 1.2rem 1.4rem;
  border-radius: 1rem;
  border: 0.5px solid rgba(0, 0, 0, 0.279);
}

.dob {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
}

.dob input {
  width: 30%;
}

.dataFields select {
  width: 100%;
  padding: 1.4rem 0;
  border-radius: 1rem;
}

/* footer */

.footer {
  margin: 1rem 0;
}
.footer p {
  text-align: left;
  font-weight: 500;
  margin-bottom: 1rem;
}

.terms {
  display: flex;
  font-size: 1.2;
}

.terms input {
  /* appearance: none; */
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */

  /* Custom dimensions */
  width: 25px;
  height: 18px;

  /* Border and background */
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  margin-top: 1rem;

  /* Positioning for checkmark */
  position: relative;
}

.terms input:checked {
  background-color: #007bff;
  border-color: #007bff;
  -moz-appearance: none;
}

.terms p {
  font-size: 1.4rem;
  text-align: center;
  font-weight: normal;
  margin-bottom: 1rem;
}

.apllyBtn {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.apllyBtn button {
  padding: 1.4rem 0;
  border-radius: 1rem;
  background-color: inherit;
  font-size: 1.6rem;
  font-weight: 550;
  border: 0.4px solid rgba(0, 0, 0, 0.152);
}

.apllyBtn :first-child {
  border: none;
  background-color: rgb(219, 70, 70);
  color: white;
}

.apllyBtn :first-child :hover {
  background-color: rgb(212, 52, 52);
  cursor: pointer;
}
